<div class="container">
    <form action="/Account/Signin2?Username=abc123.com" method="post">
        <div>
            <label for="Username">Username</label>
            <input type="text" name="Username" id="Username"/>
        </div>
        <div>
            <label for="Username">Username</label>
            <input type="password" name="Password" id="Password"/>
        </div>
        <div>
            <label for="Remember">Hay nho toi ban nhe!</label>
            <input type="checkbox" name="Remember" id="Remember" value="true" checked/>
        </div>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
</div>